

<ng-container *ngIf="isError">
  <div class="error">
    <div class="name-error">{{isError.name}}</div>
    <div class="message-error">{{isError.message}}</div>
  </div>
</ng-container>

<ng-container *ngIf="isFetching">
  <div style="color: greenyellow; font-weight: bold">Fetching...</div>
</ng-container>


<app-panel-filters [options]="optionsFilter"
                   [optionsInsertedCounter]="optionsInsertedCounter"
                   [ownFilters]="ownOptionFilters"></app-panel-filters>

<app-table [headersParams]="headersParams"
           [dataTable$]="info$" ></app-table>

<router-outlet></router-outlet>
